* {
    padding: 0;
    margin: 0;
    background-color: #F5F7F8;
}

.main {
    margin: 60px;
    padding: 80px;
    text-align: center;
    color: #405D72;
}

h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    margin: 40px;
    padding: 5px;
    width: 100px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #405D72;
    border-radius: 5px;
    background-color: #EEEDEB;
}

.btn:hover{
    color: #F8EDE3;
    background-color: #D0B8A8;
}